.preloader-wrapper-relative {
    position: relative;
    height: 30px;
    width: 110px;
    margin: 0 auto;
}

.preloader-wrapper-absolute {
    position: absolute;
    height: 30px;
    width: 110px;
    top: 10px;
    left: 10px;
}
