dist
out
node_modules
.vscode-test/
*.vsix
!resources/jslibs/themes/assets/images/pattern-background.svg
!resources/jslibs/font/DroidSansMono.ttf
resources/jslibs
!.vscode
coverage
extractedDistribution
.npmrc

# gradle
.gradle
!gradle-wrapper.jar
build