dist
out
node_modules
.vscode-test/
*.vsix
!resources/jslibs/themes/doc-theme.css
!resources/jslibs/themes/semantic.min.css
!resources/jslibs/themes/styles.css
resources/jslibs
!.vscode
coverage
extractedDistribution

# gradle
.gradle
!gradle-wrapper.jar
build