dist
out
node_modules
webviews/node_modules
.vscode-test/
*.vsix
!resources/jslibs/font/DroidSansMono.ttf
!resources/jslibs/webviewCommons.js
resources/jslibs
!.vscode
coverage
extractedDistribution
.npmrc

# gradle
.gradle
!gradle-wrapper.jar
build

# ignore Intellij-IDEA files
*.iml
.idea/
*.iws
*.ipr
