.module-view-container {
    .module-info {
        .module-name {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .component-info {
        padding: 15px;

        
        .component-container {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
