@font-face {
    font-family: "wso2-vscode";
    src: url("./wso2-vscode.eot?874b8fcbbb89f9bea0fe06d05d7ae5b0#iefix") format("embedded-opentype"),
url("./wso2-vscode.woff2?874b8fcbbb89f9bea0fe06d05d7ae5b0") format("woff2"),
url("./wso2-vscode.woff?874b8fcbbb89f9bea0fe06d05d7ae5b0") format("woff");
}

i[class^="fw-"]:before, i[class*=" fw-"]:before {
    font-family: wso2-vscode !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fw-add-check-round:before {
    content: "\f101";
}
.fw-alarm-round:before {
    content: "\f102";
}
.fw-ballerina:before {
    content: "\f103";
}
.fw-browser-round:before {
    content: "\f104";
}
.fw-choreo-2:before {
    content: "\f105";
}
.fw-choreo:before {
    content: "\f106";
}
.fw-click-round:before {
    content: "\f107";
}
.fw-configurable-icon:before {
    content: "\f108";
}
.fw-custom:before {
    content: "\f109";
}
.fw-database-round:before {
    content: "\f10a";
}
.fw-dataMapper:before {
    content: "\f10b";
}
.fw-debug:before {
    content: "\f10c";
}
.fw-delete:before {
    content: "\f10d";
}
.fw-design-view:before {
    content: "\f10e";
}
.fw-disable:before {
    content: "\f10f";
}
.fw-doc:before {
    content: "\f110";
}
.fw-editIcon:before {
    content: "\f111";
}
.fw-email:before {
    content: "\f112";
}
.fw-enable-inverse:before {
    content: "\f113";
}
.fw-enable:before {
    content: "\f114";
}
.fw-event-round:before {
    content: "\f115";
}
.fw-inventory-round:before {
    content: "\f116";
}
.fw-kite-round:before {
    content: "\f117";
}
.fw-link-round:before {
    content: "\f118";
}
.fw-loading:before {
    content: "\f119";
}
.fw-logo-github:before {
    content: "\f11a";
}
.fw-manual:before {
    content: "\f11b";
}
.fw-new-file:before {
    content: "\f11c";
}
.fw-new-folder:before {
    content: "\f11d";
}
.fw-new-module:before {
    content: "\f11e";
}
.fw-organization:before {
    content: "\f11f";
}
.fw-persist-diagram:before {
    content: "\f120";
}
.fw-project:before {
    content: "\f121";
}
.fw-proxy:before {
    content: "\f122";
}
.fw-run-conf:before {
    content: "\f123";
}
.fw-schedule:before {
    content: "\f124";
}
.fw-sign-in:before {
    content: "\f125";
}
.fw-sign-out:before {
    content: "\f126";
}
.fw-source-view:before {
    content: "\f127";
}
.fw-start:before {
    content: "\f128";
}
.fw-sync-alt-round:before {
    content: "\f129";
}
.fw-tab:before {
    content: "\f12a";
}
.fw-trash:before {
    content: "\f12b";
}
.fw-user:before {
    content: "\f12c";
}
.fw-webhook-round:before {
    content: "\f12d";
}
.fw-webhook:before {
    content: "\f12e";
}
.fw-while-icon:before {
    content: "\f12f";
}
