
.performance-forcast {
    padding: 20pt 10pt 10pt 10pt;
    font-size: 10pt;
}

.performance-forcast div.x-label {
    text-align: center;
    color: gray;
    margin-top: 10pt;
}

.performance-forcast div.y-label {
    display: inline-block;
    margin: 0 0 -25pt -25pt;
}

.performance-forcast .latency {
    margin-top: 20pt;
}

.center {
    text-align: center;
}
