.key-value {
    fill: #222228;
    font-family: inherit;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 500;
}

.plus-symbol {
    fill: #36B475;
    font-family: inherit;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    // font-weight: 500;
}

.value-para {
    fill: #222228;
    font-family: inherit;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
}

.default-circle {
    box-sizing: border-box;
    height: 13px;
    width: 13px;
    stroke-width: 1;
    stroke: #dee0e7;
    fill: #fff;
}

.active-circle {
    box-sizing: border-box;
    height: 13px;
    width: 13px;
    stroke-width: 1;
    stroke: #a6b3ff;
    fill: #fff;
}

.connect-line {
    stroke: #5567d5;
    stroke-width: 1;
}

.data-wrapper {
    box-sizing: border-box;
    // height: 40px;
    // width: 205px;
    stroke-width: 1;
    stroke: #dee0e7;
    fill: #fff;
}

.main-wrapper {
    fill: #fff;
    stroke: #cbcfd9;
    stroke-width: 1;
}

.main-title-text {
    fill: #1d2028;
    font-weight: 500;
}

.connector-wrapper {
    stroke-width: 0.5;
    stroke: #e5e7ec;
    fill: #fff;
}

.expression-wrapper {
    width: 300px;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 40px 0 rgba(123, 123, 123, 0.1);
}

.delete-icon-show {
    rect {
        stroke: #ea4c4d;
        stroke-miterlimit: 10;
        stroke-width: 0;
        fill: url(#DeleteLinearGradient);
    }

    .delete-circle {
        rect {
            stroke: #ea4c4d;
            stroke-miterlimit: 10;
            stroke-width: 0;
            fill: url(#DeleteLinearGradient);
        }

        .delete-bin-icon {
            fill: #ea4c4d;
        }
    }

    &:hover {
        rect {
            cursor: pointer;
            fill: #ea4c4d;
            stroke: #ea4c4d;
            stroke-miterlimit: 10;
            stroke-width: 1;
        }

        &:hover .delete-bin-icon {
            fill: #fff;
        }
    }

    &:active {
        rect {
            cursor: pointer;
            stroke: #ea4c4d;
            stroke-miterlimit: 10;
            stroke-width: 1;
            fill: #ea4c4d;
        }

        &:active .delete-bin-icon {
            fill: #8c2324;
        }
    }
}

.json-add-field-btn {
    fill: #CBCEDB;
    pointer-events: all;
    &:hover {
        fill: #5567D5
    }
}

.delete-icon-show.disable {
    opacity: 0.5;
}