.edit-icon-wrapper {
    // rect {
    //     stroke: transparent;
    //     stroke-miterlimit: 10;
    //     // stroke-width: 0.5;
    //     fill: transparent;
    // }

    .edit-circle {

        // rect {
        //     stroke: transparent;
        //     stroke-miterlimit: 10;
        //     // stroke-width: 0.5;
        //     fill: transparent;
        // }
        .edit-icon-hover {
            display: none;
        }

        .edit-icon {
            fill: #36b475;
        }
    }

    &:hover {
        cursor: pointer;

        // rect {
        //     cursor: pointer;
        //     fill: #36b475;
        //     stroke: #36b475;
        //     stroke-miterlimit: 10;
        //     stroke-width: 0.5;
        // }
        .edit-icon-hover {
            display: block;
            fill: #36b475;
        }

        &:hover .edit-icon {
            fill: #fff;
            cursor: pointer;
            display: none;
        }
    }

    &:active,
    &.edit-click {
        .edit-icon-hover {
            display: block;
            fill: #006b46;
        }

        // rect {
        //     cursor: pointer;
        //     stroke: #2fa86c;
        //     stroke-miterlimit: 10;
        //     stroke-width: 0.5;
        //     fill: #2fa86c;
        // }

        &:active .edit-icon {
            fill: #fff;
            cursor: pointer;
            display: none;
        }
    }
}
