.dropdown-icon-hide {
    stroke: none !important;
    fill-opacity: 0;
    stroke-width: 0 !important;
    stroke-opacity: 0 !important;
}

.dropdown-icon-show {
    rect {
        stroke: #05a26b;
        stroke-miterlimit: 10;
        stroke-width: 1;
        fill: url(#DropDownLinearGradient);
    }
}

.dropdown-circle {
    rect {
        stroke: #05a26b;
        stroke-miterlimit: 10;
        stroke-width: 1;
        fill: url(#DropDownLinearGradient);
    }

    .dropdown-arrow-icon {
        fill: #36b475;
    }
}

&:hover {
    rect {
        cursor: pointer;
        fill: #36b475;
        stroke: #2fa86c;
        stroke-miterlimit: 10;
        stroke-width: 1;
    }

    &:hover .dropdown-arrow-icon {
        fill: #fff;
    }
}

&:active,
&.dropdown-click {
    rect {
        cursor: pointer;
        stroke: #2fa86c;
        stroke-miterlimit: 10;
        stroke-width: 1;
        fill: #2fa86c;
    }

    &:active .dropdown-arrow-icon {
        fill: #006b46;
    }
}

.dropdown-container {
    height: 105px;
    width: 233px;
    border-radius: 6px;
    background-color: #5567d5;
    box-shadow: 0 5px 30px -3px rgba(75, 84, 102, 0.44);
    padding: 1rem 0.75rem;

    p {
        color: #fff !important;
        font-family: inherit;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 14px;
        padding-top: 7px;
        padding-left: 11px;
    }

    .input-wrapper {
        .MuiInputBase-formControl {
            background: linear-gradient(180deg, #fff 0%, #f7f7f9 100%) !important;
            border: 0;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08) !important;
            height: 48px;
            width: auto;
            border-radius: 5px;
        }

        input {
            margin-top: -11px;
        }

        .MuiAutocomplete-endAdornment {
            margin-top: 2px;

            svg {
                color: #5567d5;
            }
        }
    }

    .close-btn {
        background: none;
        color: #fff;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;

        .MuiSvgIcon-root {
            font-size: 16px;
            opacity: 0.35;
        }
    }
}

.MuiAutocomplete-popper {
    .MuiPaper-root {
        .MuiAutocomplete-listbox {
            border-radius: 5px;
            background-color: #fff !important;
            box-shadow: 0 5px 30px -3px rgba(75, 84, 102, 0.37) !important;
            scrollbar-width: none;
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar {
            margin-right: 10px !important;
            width: 5px !important;
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar-track {
            background-color: #fff;
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
            background-color: #e6e8ef;
        }
    }
}

.MuiAutocomplete-paper {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 30px -3px rgba(75, 84, 102, 0.37) !important;
}
