
.file-view-container {
    margin-top: 15px;
    .file-info {
        .file-name {
            font-size: 24px;
            font-weight: 600;
        }

        .module-name {
            font-size: small;
            margin-left: 5px;
        }
    }

    .component-info {
        padding: 15px;

        .component-container {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
