.delete-icon-show {
    .delete-circle {
        .delete-bin-icon {
            fill: #ea4c4d;
        }

        .delete-bin-icon-hovered {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;

        .delete-bin-icon-hovered {
            fill: #ea4c4d;
            display: block;
        }

        &:hover .delete-bin-icon {
            fill: #fff;
            display: none;
        }
    }

    &:active {
        cursor: pointer;

        .delete-bin-icon-hovered {
            fill: #8c2324;
            display: block;
        }

        &:active .delete-bin-icon {
            fill: #fff;
            display: none;
        }
    }
}
