.main-title {
    font-family: inherit;
}

.error-title {
    fill: #40404b;
    font-size: 12px;
    font-family: inherit;
}

.code-errors {
    fill: #40404b;
    font-size: 12px;
    font-family: inherit;
}
