.top-bar {
    background: #b9b9b9;
    height: 44px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: row;
    .segment {
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
    }
}
