@font-face {
    font-family: "wso2-vscode";
    src: url("./wso2-vscode.eot?36a8b513e06463315597fd96bd8a4f92#iefix") format("embedded-opentype"),
url("./wso2-vscode.woff2?36a8b513e06463315597fd96bd8a4f92") format("woff2"),
url("./wso2-vscode.woff?36a8b513e06463315597fd96bd8a4f92") format("woff");
}

i[class^="fw-"]:before, i[class*=" fw-"]:before {
    font-family: wso2-vscode !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fw-architectureView:before {
    content: "\f101";
}
.fw-cellView:before {
    content: "\f102";
}
.fw-choreo:before {
    content: "\f103";
}
.fw-loading:before {
    content: "\f104";
}
.fw-organization:before {
    content: "\f105";
}
.fw-project:before {
    content: "\f106";
}
.fw-refresh:before {
    content: "\f107";
}
.fw-sign-in:before {
    content: "\f108";
}
.fw-sign-out:before {
    content: "\f109";
}
