.draft-field-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.draft-field-type-select {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.draft-field-submit {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.draft-field-input {
    padding-left: 5px;
}
